{% if all_students_list %}
<ul>
    <h3>These students are looking for a studygroup:</h3> 
    <table border="1">
        <tr>
        <th>Name</th>
            <th>Subject</th>
            <th>Email</th>
            <th>Level</th>
        </tr>
    {% for student in all_students_list %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.subject}}</td>
                <td>{{student.email}}</td>
                <td>{{student.level}}</td>
            </tr>
    {% endfor %}
    </table>
    </ul>
{% else %}
    <p>No students are looking for studygroups at the moment.</p>
{% endif %}

    <!-- <li><a href="/kollokvier/{{ student.id }}/">{{ student.name }}</a></li> -->

